# Exclude Rust build artifacts
target/
**/*.rs.bk

# Exclude Git directories
.git
.github

# Exclude common IDE files
.idea/
.vscode/
*.swp
*.swo

# Exclude other unnecessary files
**/.DS_Store
Dockerfile
.dockerignore

